/* VARIABLES */
:root {
   --color-primario: #fcb03b;
   --color-secundario: #e92f3d;
   --color-background: #eff6f5;
   --color-background-sombra: #e92f3d30;
   --color-texto: #a1a5a6;
   --text-default: "Open Sans";
}

/*ESTILOS GENERALES*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: var(--text-default);
   background: var(--color-background);
}

.titulo {
   font-size: 40px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
}

.subtitulo {
   font-size: 25px;
   font-weight: 400;
   text-align: center;
   text-transform: uppercase;
   color: var(--color-primario);
}

.btn {
   text-decoration: none;
   text-transform: uppercase;
   font-size: 14px;
   color: #fff;
   background-color: var(--color-primario);
   font-weight: 700;
   padding: 15px 30px;
   outline: none;
   border: 2px solid var(--color-primario);
   cursor: pointer;
   position: relative;
   top: 20px;
   transition: all 0.4s;
}

.btn:hover {
   padding: 15px 45px;
}

.btn span {
   padding-left: 10px;
}

/* MENU DE NAVEGACION*/
.principal {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 75px;
   padding: 0 30px;
   margin-top: 10px;
   background: var(--color-background);
   z-index: 1;
}

.principal__logo img {
   width: 130px;
   cursor: pointer;
}

.principal__menuBar {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.principal__menuBar .principal__enlaces ul li {
   display: inline-block;
   padding: 0 10px;
}

.principal__menuBar .principal__enlaces ul li a {
   text-decoration: none;
   font-size: 14px;
   text-transform: uppercase;
   color: var(--color-texto);
   font-weight: 600;
   background: linear-gradient(currentColor, currentColor);
   background-position: 100% 100%;
   background-repeat: no-repeat;
   background-size: 0% 2px;
   transition: all 0.5s;
}

.principal__menuBar .principal__enlaces ul li a:hover {
   color: var(--color-secundario);
   background-size: 50% 2px;
}

.principal__menuBar .principal__sociales a {
   font-size: 16px;
   text-transform: uppercase;
   padding: 0 10px;
   font-weight: 700;
   text-decoration: none;
   color: var(--color-texto);
   transition: all 0.5s;
}

.principal__menuBar .principal__sociales a:hover {
   color: var(--color-secundario);
}

.principal i {
   cursor: pointer;
   color: var(--color-texto);
   font-size: 30px;
   float: right;
   transition: all 0.5s;
   display: none;
}

.principal i:hover {
   color: var(--color-secundario);
}

/* SLIDER DE PRODUCTOS */

.menuProductos--contenedor {
   display: flex;
   align-items: center;
   position: relative;
   z-index: 0;
}

.menuProductos--contenedor .menuProductos--btnIzquierda,
.menuProductos--contenedor .menuProductos--btnDerecha {
   position: absolute;
   height: 10%;
   width: 50px;
   border: none;
   background: transparent;
   cursor: pointer;
   font-size: 40px;
   margin: 0 15px;
   color: var(--color-secundario);
   z-index: 500;
   outline: none;
   transition: all 0.3s;
}

.menuProductos--contenedor .menuProductos--btnIzquierda:hover,
.menuProductos--contenedor .menuProductos--btnDerecha:hover {
   background-color: var(--color-background-sombra);
   transform: translateY(5px);
}

.menuProductos--contenedor .menuProductos--btnIzquierda {
   left: 0;
}

.menuProductos--contenedor .menuProductos--btnDerecha {
   right: 0;
}

.menuProductos--slider {
   display: flex;
   overflow: hidden;
   height: calc(100vh -80px);
   /*Nos ayuda a realizar una leve transicion* al pasar a otra producto*/
   scroll-behavior: smooth;
}

.menuProductos--contenedorProductos {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-basis: 100%;
   flex-shrink: 0;
}

.menuProductos--descripcion {
   width: 30%;
}

.menuProductos--descripcion h1 {
   font-size: 5vw;
   font-weight: 600;
   text-transform: uppercase;
}

.menuProductos--descripcion h2 {
   font-size: 2.2vw;
   font-weight: 100;
   text-transform: lowercase;
}

.menuProductos--descripcion p {
   color: var(--color-texto);
   font-style: italic;
   text-align: justify;
}

.menuProductos--imagenProductos {
   width: 45%;
   display: flex;
   justify-content: center;
}

.menuProductos--imagenProductos img {
   width: 100%;
   transform: scale(1.1);
   transition: all 0.3;
}

.menuProductos--contenedorProductos:hover .menuProductos--imagenProductos img {
   transform: scale(1.15);
}

/* SECCION SERVICIOS */
.servicios {
   height: 100vh;
   background: #fff;
   padding: 40px;
}

.servicios--titulos {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.servicios--contenedor {
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, auto);
   grid-gap: 30px;
   grid-template-areas:
      "ingredientes        imagen      rapidez"
      "calidad             imagen      delivery";
}

.calidad {
   grid-column: calidad;
   grid-row: calidad;
}

.ingredientes {
   grid-column: ingredientes;
   grid-row: ingredientes;
}

.rapidez {
   grid-column: rapidez;
   grid-row: rapidez;
}

.delivery {
   grid-column: delivery;
   grid-row: delivery;
}

.imagenCentral {
   grid-column: imagen;
   grid-row: imagen;
   transition: all 0.5s;
}

.imagenCentral:hover {
   transform: scale(1.1);
}

.servicios--item {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.servicios--item span {
   width: 95px;
   font-size: 40px;
   color: var(--color-secundario);
   padding: 20px;
   border: 5px double #dedede;
   border-radius: 50%;
   transition: all 0.5s;
}

.servicios--item span:hover {
   background: var(--color-secundario);
   color: #fff;
}

.ingredientes span,
.calidad span {
   color: var(--color-primario);
}

.ingredientes span:hover,
.calidad span:hover {
   color: #fff;
   background: var(--color-primario);
}

.servicios--item .servicios--tituloItem {
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 700;
   text-align: center;
}

.servicios--item .servicios--textoItem {
   font-size: 14px;
   color: var(--color-texto);
   font-style: italic;
   text-align: center;
   padding: 20px;
}

/* MEDIA QUERY PARA LA BARRA DE NAVEGACION */

/* SLIDER DE PRODUCTOS */

@media screen and (max-width: 850px) {
   .menuProductos--contenedorProductos {
      flex-direction: column;
   }
   .menuProductos--descripcion {
      width: 70%;
      order: 1;
   }

   .menuProductos--descripcion .btn {
      padding: 10px 20px;
   }

   .menuProductos--descripcion .btn:hover {
      padding: 10px 30px;
   }
}

/* BARRA DE NAVEGACION */

@media screen and (max-width: 650px) {
   /* BARRA DE NAVEGACION */
   .principal {
      position: fixed;
      top: 0;
      margin-top: 0;
   }

   .principal i {
      display: block;
   }

   .principal__menuBar {
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
      background: #333;
      transition: all 0.8s;
      transform: translateX(100%);
   }

   .principal__menuBar.active {
      transform: translateX(0%);
   }

   .principal__menuBar i {
      position: absolute;
      right: 50px;
      top: 50px;
   }

   .principal__menuBar .principal__enlaces ul li {
      display: block;
      padding: 20px 10px;
      text-align: center;
   }

   .principal__menuBar .principal__enlaces ul li a,
   .principal__menuBar .principal__sociales a {
      font-size: 20px;
   }

   /* SILDER DE PRODUCTOS */
   .menuProductos--slider {
      height: 100vh;
   }

   .menuProductos--descripcion h1 {
      font-size: 7vw;
   }

   .menuProductos--descripcion h2 {
      font-size: 3vw;
   }

   .menuProductos--imagenProductos {
      width: 65%;
   }
}
