/* VARIABLES */
:root {
   --color-primario: #fcb03b;
   --color-secundario: #e92f3d;
   --color-background: #eff6f5;
   --color-background-sombra: #e92f3d30;
   --color-texto: #a1a5a6;
   --text-default: "Open Sans";
}

/*ESTILOS GENERALES*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-size: 16px;
   font-family: var(--text-default);
   background: var(--color-background);
}

.titulo {
   font-size: 40px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
}

.subtitulo {
   font-size: 25px;
   font-weight: 400;
   text-align: center;
   text-transform: uppercase;
   color: var(--color-primario);
}

.btn {
   text-decoration: none;
   text-transform: uppercase;
   font-size: 14px;
   color: #fff;
   background-color: var(--color-primario);
   font-weight: 700;
   padding: 15px 30px;
   outline: none;
   border: 2px solid var(--color-primario);
   cursor: pointer;
   position: relative;
   top: 20px;
   transition: all 0.4s;
}

.btn:hover {
   padding: 15px 45px;
}

.btn span {
   padding-left: 10px;
}

/* MENU DE NAVEGACION*/
.principal {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 75px;
   padding: 0 30px;
   margin-top: 10px;
   background: var(--color-background);
   z-index: 1;
}

.principal__logo img {
   width: 130px;
   cursor: pointer;
}

.principal__menuBar {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.principal__menuBar .principal__enlaces ul li {
   display: inline-block;
   padding: 0 10px;
}

.principal__menuBar .principal__enlaces ul li a {
   text-decoration: none;
   font-size: 14px;
   text-transform: uppercase;
   color: var(--color-texto);
   font-weight: 600;
   background: linear-gradient(currentColor, currentColor);
   background-position: 100% 100%;
   background-repeat: no-repeat;
   background-size: 0% 2px;
   transition: all 0.5s;
}

.principal__menuBar .principal__enlaces ul li a:hover {
   color: var(--color-secundario);
   background-size: 50% 2px;
}

.principal__menuBar .principal__sociales a {
   font-size: 16px;
   text-transform: uppercase;
   padding: 0 10px;
   font-weight: 700;
   text-decoration: none;
   color: var(--color-texto);
   transition: all 0.5s;
}

.principal__menuBar .principal__sociales a:hover {
   color: var(--color-secundario);
}

.principal i {
   cursor: pointer;
   color: var(--color-texto);
   font-size: 30px;
   float: right;
   transition: all 0.5s;
   display: none;
}

.principal i:hover {
   color: var(--color-secundario);
}

/* SLIDER DE PRODUCTOS */

.menuProductos--contenedor {
   display: flex;
   align-items: center;
   position: relative;
   z-index: 0;
}

.menuProductos--contenedor .menuProductos--btnIzquierda,
.menuProductos--contenedor .menuProductos--btnDerecha {
   position: absolute;
   height: 10%;
   width: 50px;
   border: none;
   background: transparent;
   cursor: pointer;
   font-size: 40px;
   margin: 0 15px;
   color: var(--color-secundario);
   z-index: 500;
   outline: none;
   transition: all 0.3s;
}

.menuProductos--contenedor .menuProductos--btnIzquierda:hover,
.menuProductos--contenedor .menuProductos--btnDerecha:hover {
   background-color: var(--color-background-sombra);
   transform: translateY(5px);
}

.menuProductos--contenedor .menuProductos--btnIzquierda {
   left: 0;
}

.menuProductos--contenedor .menuProductos--btnDerecha {
   right: 0;
}

.menuProductos--slider {
   display: flex;
   overflow: hidden;
   height: calc(100vh - 80px);
   /*Nos ayuda a realizar una leve transicion* al pasar a otra producto*/
   scroll-behavior: smooth;
}

.menuProductos--contenedorProductos {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-basis: 100%;
   flex-shrink: 0;
}

.menuProductos--descripcion {
   width: 30%;
}

.menuProductos--descripcion h1 {
   font-size: 5vw;
   font-weight: 600;
   text-transform: uppercase;
}

.menuProductos--descripcion h2 {
   font-size: 2.2vw;
   font-weight: 100;
   text-transform: lowercase;
}

.menuProductos--descripcion p {
   color: var(--color-texto);
   font-style: italic;
   text-align: justify;
}

.menuProductos--imagenProductos {
   width: 45%;
   display: flex;
   justify-content: center;
}

.menuProductos--imagenProductos img {
   width: 100%;
   transform: scale(1.1);
   transition: all 0.3;
}

.menuProductos--contenedorProductos:hover .menuProductos--imagenProductos img {
   transform: scale(1.15);
}

/* SECCION SERVICIOS */
.servicios {
   height: 100vh;
   background: #fff;
   padding: 40px;
}

.servicios--titulos {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.servicios--contenedor {
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, auto);
   grid-gap: 30px;
   grid-template-areas:
      "ingredientes        imagen      rapidez"
      "calidad             imagen      delivery";
}

.calidad {
   grid-column: calidad;
   grid-row: calidad;
}

.ingredientes {
   grid-column: ingredientes;
   grid-row: ingredientes;
}

.rapidez {
   grid-column: rapidez;
   grid-row: rapidez;
}

.delivery {
   grid-column: delivery;
   grid-row: delivery;
}

.imagenCentral {
   grid-column: imagen;
   grid-row: imagen;
   transition: all 0.5s;
}

.imagenCentral:hover {
   transform: scale(1.1);
}

.servicios--item {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.servicios--item span {
   width: 95px;
   font-size: 40px;
   color: var(--color-secundario);
   padding: 20px;
   border: 5px double #dedede;
   border-radius: 50%;
   transition: all 0.5s;
}

.servicios--item span:hover {
   background: var(--color-secundario);
   color: #fff;
}

.ingredientes span,
.calidad span {
   color: var(--color-primario);
}

.ingredientes span:hover,
.calidad span:hover {
   color: #fff;
   background: var(--color-primario);
}

.servicios--item .servicios--tituloItem {
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 700;
   text-align: center;
}

.servicios--item .servicios--textoItem {
   font-size: 14px;
   color: var(--color-texto);
   font-style: italic;
   text-align: center;
   padding: 20px;
}

/* SECCION DE EQUIPO */
.equipo {
   height: 100vh;
   display: flex;
}

.equipo--persona {
   flex-grow: 1;
   overflow: hidden;
   position: relative;
   transition: all 0.5s;
}

.equipo--persona:hover {
   flex-grow: 3;
}

.equipo--personaImagen {
   height: 100%;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   filter: grayscale(80%);
}

.equipo--persona .equipo--personaImagen:hover {
   filter: grayscale(0%);
}

.equipo--personaInfo {
   position: absolute;
   bottom: 10px;
   width: 100%;
   text-align: center;
   opacity: 0;
   transition: all 0.2s;
}

.equipo--persona:hover .equipo--personaInfo {
   opacity: 1;
   bottom: 70px;
   transition-delay: 0.4s;
}

.equipo--personaInfo h2 {
   font-size: 30px;
   color: #000;
   font-weight: 600;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.equipo--personaInfo p {
   color: var(--color-secundario);
   font-size: 20px;
   font-weight: 700;
   font-style: italic;
   margin-top: 8px;
   margin-bottom: 20px;
   text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.5);
}

.equipo--socialMedia a {
   display: inline-block;
   width: 40px;
   height: 40px;
   color: #fff;
   background: var(--color-secundario);
   line-height: 40px;
   border-radius: 50%;
   margin: 0 5px;
   font-size: 18px;
   cursor: pointer;
   transition: all 0.5s;
}

.equipo--socialMedia a:hover {
   color: var(--color-secundario);
   background: transparent;
   transform: scale(2);
}

/* SECCIONES INGREDIENTES */
.ingredientes {
   display: flex;
   justify-content: center;
   align-items: center;
}

.ingredientes--contenedor {
   flex-grow: 1;
   overflow: hidden;
   position: relative;
   height: 250px;
}

.ingredientes--imagen {
   position: absolute;
   height: 100%;
   left: 50%;
   transform: translateX(-50%);
}

.ingredientes--info {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   transition: all 0.4s;
}

.ingredientes--info p,
.ingredientes--info p span {
   font-size: 28px;
   color: #fff;
   font-weight: 600;
   transition: all 0.4s;
}

.ingredientes--info:hover {
   background: rgba(0, 0, 0, 0.25);
}

.ingredientes--info:hover p {
   transform: translateY(10px);
}

/* SECCION CONTACTO */

.contacto {
   height: 100vh;
   padding: 60px;
   position: relative;
}

.formulario {
   width: 70%;
   margin: 50px auto;
}

.formulario--dosCampos {
   display: flex;
   justify-content: space-between;
}

.input--text,
.input--email,
.textarea {
   border: 1px solid #b4b4b4;
   color: #888;
   background: #fff;
   outline: none;
   padding: 15px 60px;
   height: 45px;
   font-size: 16px;
   margin-bottom: 20px;
   transition: all 0.5s;
}

.textarea {
   width: 100%;
   height: 150px;
   resize: none;
}

.input--text,
.input--email {
   width: 100%;
}

.inputConIcon {
   position: relative;
   width: 48%;
}

.inputConIcon i {
   position: absolute;
   left: 0;
   padding: 14px 15px;
   background: #888;
   color: #fff;
   transition: all 0.5s;
}

.textareaIcon {
   width: 100%;
}

.textareaIcon i {
   background: transparent;
   color: #888;
   padding: 0;
   font-size: 25px;
   left: 17px;
   top: 13px;
   transition: all 0.5s;
}

.inputConIcon input:focus,
.inputConIcon textarea:focus {
   border: 1px solid var(--color-primario);
}

.inputConIcon input:focus + i {
   background: var(--color-primario);
}

.inputConIcon textarea:focus + i {
   color: var(--color-primario);
}

.fiels-btn {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.btn-input {
   padding: 15px 50px;
}

.btn-input:hover {
   padding: 15px 65px;
}

/* SECCION DE ALERTAS */

.alertas {
   display: flex;
   justify-content: center;
   align-items: center;
}

.alerta--error,
.alerta--success {
   width: 60%;
   padding: 20px 60px;
   position: fixed;
   top: 0;
   transition: all 0.5s;
}

.show {
   transform: translateY(50%);
}

.hide {
   transform: translateY(-100%);
}

.alerta--error .icono-alert,
.alerta--success .icono-alert {
   position: absolute;
   left: 20px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 30px;
}

.alerta--mensaje {
   padding: 0 20px;
   font-size: 18px;
}

.alerta--error {
   background: #f8d7da;
   border-right: 4px solid #da3748;
}

.alerta--error .icono-alert {
   color: #da3748;
}

.alerta--error .alerta--mensaje {
   color: #721c24;
}

.alerta--success {
   background: #d4edda;
   border-right: 4px solid #279e43;
}

.alerta--success .icono-alert {
   color: #279e43;
}

.alerta--success .alerta--mensaje {
   color: #155724;
}

/* SECCION FOOTER */

.footer {
   display: flex;
   margin-top: -100px;
}

.footer--sociales {
   width: 25%;
   height: 100px;
   background: #333;
   color: #fff;
   position: relative;
   text-align: center;
   overflow: hidden;
}

.footer--sociales i {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   font-size: 30px;
   line-height: 100px;
   transition: all 0.5s;
}

.footer--sociales span {
   position: absolute;
   width: 100%;
   left: 0;
   bottom: 0;
   padding: 10px 0;
   font-size: 12px;
   background: var(--color-primario);
   color: #fff;
   letter-spacing: 1px;
   font-weight: 700;
   transform: translateY(60px);
   transition: all 0.5s;
}
/*le aplicare el estilo al span*/
.footer--sociales i:hover + span {
   transform: translateY(0px);
}

.footer--sociales i:hover {
   transform: translateY(-20px);
}

/* BOTON DE IR ARRIBA */
.btn-top {
   width: 50px;
   height: 50px;
   background: var(--color-primario);
   cursor: pointer;
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 1;
   transform: translateY(200%);
   transition: all 0.5s;
}

.btn-top.show {
   transform: translateY(0);
}

.btn-top.scrollFinal {
   transform: translateY(-250%);
}

.btn-top span {
   color: #fff;
   font-size: 25px;
   width: 100%;
   text-align: center;
   line-height: 50px;
   transition: all 0.5s;
}

.btn-top:hover {
   background: #d89127;
}

.btn-top:hover span {
   transform: translateY(-3px);
}

/* =========================================================================
            MEDIA QUERY PARA LA BARRA DE NAVEGACION 
============================================================================*/

@media screen and (max-width: 850px) {
   /* SLIDER DE PRODUCTOS */
   .menuProductos--contenedorProductos {
      flex-direction: column;
   }
   .menuProductos--descripcion {
      width: 70%;
      order: 1;
   }

   .menuProductos--descripcion .btn {
      padding: 10px 20px;
   }

   .menuProductos--descripcion .btn:hover {
      padding: 10px 30px;
   }

   /* SECCION SERVICIOS*/
   .servicios--contenedor {
      margin-top: 50px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
         "ingredientes        rapidez"
         "calidad             delivery";
   }

   .imagenCentral {
      display: none;
   }
}

@media screen and (max-width: 650px) {
   /* BARRA DE NAVEGACION */
   .principal {
      position: fixed;
      top: 0;
      margin-top: 0;
   }

   .principal i {
      display: block;
   }

   .principal__menuBar {
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
      background: #333;
      transition: all 0.8s;
      transform: translateX(100%);
   }

   .principal__menuBar.active {
      transform: translateX(0%);
   }

   .principal__menuBar i {
      position: absolute;
      right: 50px;
      top: 50px;
   }

   .principal__menuBar .principal__enlaces ul li {
      display: block;
      padding: 20px 10px;
      text-align: center;
   }

   .principal__menuBar .principal__enlaces ul li a,
   .principal__menuBar .principal__sociales a {
      font-size: 20px;
   }

   /* SILDER DE PRODUCTOS */
   .menuProductos--slider {
      height: 100vh;
   }

   .menuProductos--descripcion h1 {
      font-size: 7vw;
   }

   .menuProductos--descripcion h2 {
      font-size: 3vw;
   }

   .menuProductos--imagenProductos {
      width: 65%;
   }

   /* SECCION INGREDIENTES */
   .ingredientes--info .ingredientes--texto {
      display: none;
   }

   /* SECCION CONTACTOS */

   .formulario {
      width: 100%;
   }

   .formulario--dosCampos {
      flex-direction: column;
   }

   .inputConIcon {
      width: 100%;
   }

   /* ALERTAS */
   .alertas {
      width: 100%;
   }

   .show {
      transform: translateY(150%);
   }

   /* SECCION FOOTER */
   .footer {
      flex-wrap: wrap;
      margin-top: 0;
   }

   .footer--sociales {
      width: 50%;
   }

   /* BOTON DE IR ARRIBA */
   .btn-top {
      display: none;
   }
}
